html,
body {
  font-family: "crimson text", "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 50vh auto 10vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "hd hd hd hd"
    "main main main sd"
    "ft ft ft ft";
}

.header {
  text-align: center;
  background-color: #fff;
  color: black;
  padding: 0px 2em 0em;
  border-bottom: 10px solid black;
  font-size: 30px;
  text-transform: uppercase;
  grid-area: hd;
}
/* .logo {
  position: absolute;
  left: 10px;
  top: 10px;
} */

.aside {
  grid-area: sd;
  padding: 30px;
  background-color: black;
  color: white;
  list-style: none;
}

.menu-item > a {
  color: pink;
  padding: 15px;
  border-radius: 18px;
  border: 1px solid white;
  display: grid;
  margin: 40px;
  text-align: center;
  font-variant-caps: petite-caps;
}
li {
  line-height: 1.5;
}

.main {
  background: #fff;
  grid-area: main;
  padding: 70px;
  text-align: justify;
  margin: 10px 0;
  line-height: 1.5;
}

.footer {
  background: black;
  color: #fff;
  grid-area: ft;
  text-align: center;
  padding: 10px;
}

.menu > h3 {
  color: white;
  text-align: center;
  font-size: 30px;
}
a:hover {
  background-color: white;
}
a:link {
  text-align: center;
  text-decoration: 0;
}
.social-media {
}

@media (max-width: 1100px) {
  .container {
    grid-template-rows: auto auto auto 10vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "hd hd hd hd"
      "sd sd sd sd"
      "main main main main"
      "ft ft ft ft";
  }

  .header {
    font-size: 0px;
  }
  .aside {
    padding: 0px;
  }
}

@media (max-height: 600px) {
  .container {
    grid-template-rows: auto auto auto 10vh;
  }

  .header {
    font-size: 0px;
  }
}
