.bio {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
  width: 100%;
  height: auto;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.social-icons {
  display: flex;
  gap: 10px;
}
