.main {
  background: #fff;
  grid-area: main;
  padding: 70px;
  text-align: justify;
  margin: 10px 0;
  line-height: 1.5;
}
li {
  line-height: 1.5;
}
blockquote {
  font-weight: bold;
  font-style: italic;
}
em {
  text-decoration: underline;
}
.image-post {
  background-repeat: no-repeat;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30;
  width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
}
.like-button {
  border: none;
  color: black;
  background-color: pink;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.like-button:hover {
  background-color: black;
  color: pink;
}
h3 {
  color: rgb(236, 53, 138);
}
